%shared-box-shadow {
  box-shadow: 0 2px 5px 0 var(--main-shadow-primary-color) !important;
}

%shadow-soft {
  box-shadow: 0 2px 6px rgb(0 0 0 / 5%) !important;
}

%input-hover-box {
  border-color: var(--main-border-blue-light) !important;
  box-shadow: none !important;
  border-width: 2px !important;
}

%disabled {
  background: var(--main-bg-disabled);
  cursor: not-allowed;
  pointer-events: none;
}

%scrol-v {
  &::-webkit-scrollbar {
    width: 14px;
    background: var(--main-text-white);
    border-radius: 8px;

    &-track {
      background: var(--main-text-white);
      border-radius: 8px;
    }

    &-thumb {
      background: var(--main-bg-blue);
      border-radius: 8px;
      border: 2px solid var(--main-text-white);
      min-height: 100px;

      &:hover {
        background: var(--main-bg-blue-light);
        cursor: pointer;
      }
    }
  }
}

%scrol-h {
  &::-webkit-scrollbar {
    height: 12px;
    background: var(--main-text-white);
    border-radius: 8px;

    &-track {
      background: var(--main-text-white);
      border-radius: 8px;
    }

    &-thumb {
      background: var(--main-bg-blue);
      border-radius: 8px;
      border: 2px solid var(--main-text-white);
      min-width: 100px;

      &:hover {
        background: var(--main-bg-blue-light);
        cursor: pointer;
      }
    }
  }
}
