.select-component {
  display: flex;
  align-items: center;
  height: 32px;
  border: 1px solid var(--main-border-primary);
  line-height: 1;
  border-radius: 0.35rem;
  outline: none;
  box-shadow: none;
  color: var(--main-color-primary);

  & .p-component {
    width: 100%;
  }

  &.p-inputwrapper-focus {
    border-color: var(--main-text-blue);
  }

  & .p-dropdown,
  & .p-multiselect {
    &-label {
      font-size: 14px;
      line-height: 1;
      padding: 6px 8px;
    }
  }

  &.p-disabled,
  &.p-component:disabled,
  &.p-multiselect:disabled {
    opacity: 1;
  }
}

.select-component-panel {
  & .p-dropdown,
  & .p-multiselect {
    &-items {
      margin: 0;
      padding: 0;
    }

    &-item {
      padding: 6px 8px;
      color: var(--main-text-primary);

      & span {
        font-size: 13px;
        line-height: 1;
      }

      &.p-highlight {
        background-color: var(--main-bg-blue-light);
      }

      &:not(.p-highlight, .p-disabled).p-focus {
        background-color: var(--main-bg-blue);
        color: var(--main-text-white);
      }
    }

    &-header {
      padding: 6px 8px;
      font-size: 14px;
      line-height: 1;
      color: var(--main-text-primary);

      & .p-multiselect-close {
        width: 16px;
        height: 16px;
        margin-right: 9px;
        margin-left: 9px;
      }

      & .p-checkbox {
        width: 14px;
        height: 14px;

        &-box {
          width: 14px;
          height: 14px;
        }
      }
    }

    &-checkbox {
      display: inline-flex;

      & .p-checkbox {
        width: 14px;
        height: 14px;

        &-box {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}
