.textarea-component {
  background-color: var(--main-bg-white);
  border-radius: 0.35rem;
  color: var(--main-text-primary);
  border: 1px solid var(--main-border-primary);
  font-size: 14px;
  outline: none;
  box-shadow: none;
  padding: 6px 8px;

  &::placeholder {
    color: var(--main-text-placeholder);
    font-size: 13px;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    border-color: var(--main-text-blue);
  }

  &.invalid {
    border-color: var(--main-color-red);
  }

  &:disabled {
    @extend %disabled;

    opacity: 1;
  }
}
