.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: $colorPrimary;
  margin: 0;
}

.layout {
  display: flex;
  transition: all 0.5s ease;
  width: 100%;

  // background-color: $colorLightGray;
  overflow: hidden;

  &-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $colorGray;

    & .content {
      flex: 1;
      display: block;

      // width: 100%;
      overflow: hidden auto;

      // padding: 0;

      // @extend %scrollbar-v;
    }
  }
}

// .dasboard {
//   display: flex;
//   transition: all 0.5s ease;
//   background-color: $colorLightGray;
//   overflow: hidden;
//   flex-grow: 1;

//   &-content {
//     display: block;
//     width: 100%;
//     background-color: $colorLightBlue2;
//     overflow: hidden auto;
//     padding: 0;

//     @extend %scrollbar-v;
//   }
// }

// .kanban {
//   display: flex;
//   height: 100%;

//   &-header {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 0.5rem 0;

//     &__status {
//       border-radius: 50%;
//       width: 1rem;
//       height: 1rem;
//       margin-right: 0.5rem;
//     }
//   }

//   & .tasks-col {
//     flex: 1;
//     padding-top: 8px;
//     padding-bottom: 8px;
//     background-color: #eaeaee;

//     &:first-child {
//       padding-left: 5px;
//       border-top-left-radius: 5px;
//     }

//     &:last-child {
//       padding-right: 5px;
//       border-top-right-radius: 5px;
//     }

//     &-inner {
//       display: flex;
//       flex-direction: column;
//       border-radius: 0.5rem;
//       padding: 5px;
//       height: calc(100% - 32px);

//       &.is-dragging-over {
//         background-color: $colorDarkGray;
//       }
//     }
//   }
// }
