.login {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $colorBlue;

  &-container {
    padding: 32px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: rgba($colorWhite, 13%);
    backdrop-filter: blur(10px);
    border: 2px solid rgba($colorWhite, 10%);
    gap: 2em;
    width: 40vw;
  }

  & .button-component {
    margin-top: 1rem;
    background-color: $colorWhite;
    color: $colorPrimary;
    width: 100%;
    padding: 10px;
  }

  & .label {
    color: $colorWhite;
  }

  &-footer-text {
    font-size: 14px;
    color: $colorGray;
    margin-bottom: 3px;

    & a {
      color: $colorWhite;
      font-size: 16px;
      transition: color 150ms ease-in-out;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $colorGray;
      }
    }
  }
}
