.sidebar {
  display: flex;
  flex-direction: column;
  border-right: 1px solid $colorLightGrayishBlue !important;
  background-color: $colorLightGrayishBlue;
  color: $colorDarkBlue;
  padding: 0.5rem;
  width: 46px;
  position: relative;
  transition: width 0.25s ease-in-out;

  @include mq(maxsm) {
    position: fixed;
    inset: 70px 0 0;
  }

  &__logo {
    display: flex;
    cursor: pointer;

    &--img {
      height: 30px;
    }

    &--title {
      opacity: 0;
      margin: 0;
      font-size: 24px;
      transition: all 0.25s ease-in-out;

      &.open {
        opacity: 1;
      }
    }
  }

  &-menu {
    padding: 0 1rem;

    & .item {
      & a {
        display: flex;
        align-items: center;
        border-radius: 1rem;
        vertical-align: middle;
        transition: all 0.25s ease-in-out;
        padding: 4px 1rem 4px 8px;
        color: $colorDesaDarkBlue;

        &:hover,
        &:focus,
        &.active {
          background: $colorWhite;
          color: $colorLightBlue;
        }

        & i {
          font-size: 20px;
          line-height: 0;
          margin-right: 0.5rem;
        }

        & .title {
          font-weight: 700;
          font-size: 15px;
          opacity: 0;
          color: inherit;

          &.open {
            opacity: 1;
          }
        }
      }

      &-head {
        padding: 1rem 0 8px;

        & .heading {
          margin-bottom: 0;
          font-size: 11px;
          color: $colorDesaDarkBlue;
          text-transform: uppercase;
          font-weight: 700;
          opacity: 0;

          &.open {
            opacity: 1;
          }
        }
      }
    }
  }

  &.open {
    width: 200px;
    min-width: 200px;
  }

  &.close {
    & .sidebar-menu {
      padding: 0;
    }

    & a {
      padding: 4px;
    }

    & .heading,
    & .title {
      visibility: hidden;
      display: none;
    }
  }

  & .button-component {
    display: flex;
    align-items: center;
    font-size: 14px;
    position: absolute;
    left: 0;
    bottom: 20px;
    border-radius: 0 16px 16px 0;
    background-color: transparent;
    color: $colorBlue;

    & p {
      margin: 0;
    }
  }
}

@keyframes grow-down {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(200px);
  }
}
