$font-size: 14px;

.table-component {
  color: $colorPrimary;
  font-weight: 400;
  font-family: $fontRoboto;
  font-size: $font-size;

  & .p-column {
    &-header-content {
      padding: 0.25rem;
      display: block;
      font-size: 13px;
      color: $colorPrimary;
      font-weight: 400;
    }
  }

  & .table-buttons-actions {
    display: flex;
    justify-content: center;

    & .button-component {
      min-width: 21px;
      min-height: 21px;
      padding: 0;
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  & .avatar {
    height: 28px !important;
    width: 28px !important;
    font-size: 14px;
    margin: initial !important;
  }

  .p-datatable {
    &-thead,
    &-tbody {
      tr {
        th,
        td {
          padding: 0 0.5rem;
          border: 1px solid $colorDarkBlue;
        }
      }
    }

    &-thead {
      tr {
        th {
          text-align: center;
          font-weight: bold;
          background-color: $colorGray;

          & .p-column-title {
            font-weight: bold;
            background-color: $colorGray;
          }
        }
      }
    }

    &-tbody {
      tr {
        td {
          padding: 2px 0.5rem;
        }
      }
    }
  }

  & .p-paginator {
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: $colorGray;
    padding: 0.25rem;

    .p-paginator-current {
      height: auto;
    }

    button.p-link {
      border-radius: 50% !important;
      transition: none;
      min-width: 20px;
      height: 20px;
      font-size: inherit;

      &.p-highlight {
        border-color: $colorLightBlue;
        background-color: $colorLightBlue;
        color: $colorWhite;
      }

      &-input .p-inputtext {
        height: 20px;
        font-size: 14px;
      }
    }

    .p-inputnumber-input {
      text-align: center;
      padding: 0;
    }

    .p-dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;

      .p-inputtext {
        padding: 0 0 0 4px;
      }

      .p-dropdown-trigger {
        width: auto;
        padding: 0 6px;
      }

      &-panel .p-dropdown-items {
        padding: 4px 0;

        li {
          padding: 2px 0.25rem;

          &.p-highlight.p-focus {
            color: $colorWhite;
            background-color: $colorLightBlue;
          }

          &:hover {
            background-color: $colorDarkGray;
          }
        }
      }
    }

    &-bottom {
      background-color: $colorWhite;
    }
  }
}
