.card {
  font-family: $fontRoboto;
  background-color: $colorWhite;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;

  @extend %shared-box-shadow;

  &-title {
    color: $colorBlue;
    font-size: 14px;
    font-weight: 500;
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
  }

  &-taskidentifier {
    color: $colorDarkBlue;
    font-size: 13px;
    font-weight: 500;
  }

  &-info {
    font-size: 14px;
    color: $colorBlue;
    margin: 0;
  }

  &-avatar {
    max-height: 40px;
  }
}
