.user-profile {
  display: block;
  flex: 1;
  background-color: $colorWhite;

  &-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $colorBlue;
    padding: 24px;

    & .user-logo {
      margin-top: 1rem;
      max-height: 90px;
      border-radius: 50%;
      border: 2px solid $colorWhite;
      padding: 4px;
      background-color: $colorGray;

      &-default {
        margin-top: 0.5rem;
        font-size: 5rem;
        color: $colorWhite;
      }
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    flex: 1;

    &__content {
      padding: 1rem;
      width: 70%;

      @include mq(maxlg) {
        width: 100%;
      }
    }
  }

  & .info {
    margin-top: 0.5rem;
    color: $colorBlue;
    font-size: 1.3rem;

    & i {
      font-size: 1.5rem;
    }

    & .prefix {
      font-size: 1.2rem;
      font-weight: 500;
      margin-left: 0.5rem;
    }

    & .value {
      font-size: 1.1rem;
      font-weight: 400;
    }
  }

  & h3 {
    color: $colorBlue;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
