.nav {
  @include mq(maxsm) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & .menu {
    display: flex;
    align-items: center;
    width: 100%;

    @include mq(maxsm) {
      width: auto;
    }

    & li {
      padding: 0 10px;

      & .link-item {
        color: $colorPrimary;
        font-size: 13px;
        line-height: 1.4rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        padding: 0.5rem;
        transition: color 150ms ease-in-out;

        &:hover,
        &:focus {
          color: $colorLightBlue;
        }
      }
    }

    & .dropdown {
      display: inline-flex;
      position: relative;

      &-toggle {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        margin-bottom: 0;
        white-space: nowrap;
        text-decoration: none;
      }

      &-indicator {
        &::after {
          border: none !important;
          vertical-align: middle;
          content: "\e9c5";
          margin-left: 0.25rem;
          line-height: 1;
          display: inline-flex;
          align-items: center;
          font-size: 14px;
        }
      }

      &-menu {
        overflow: hidden;
        border: 1px solid $colorLightBlue;
        box-shadow: 0 3px 12px 1px rgba($colorLightBlue, 15%);
        position: absolute;
        z-index: 1000;
        display: none;
        padding: 0;
        margin: 0;
        font-size: 14px;
        color: $colorBlue;
        text-align: left;
        background-color: $colorWhite;
        background-clip: padding-box;
        border-radius: 4px;
        border-top: 3px solid $colorLightBlue;
        flex-direction: column;
        transform: translate(-25%, 10%) !important;

        &.open {
          display: flex;
        }
      }
    }

    & .user {
      &-role {
        font-size: 11px;
        font-weight: 500;
        line-height: 1;
        padding-top: 0.125rem;
        padding-bottom: 0.375rem;
      }

      &-name {
        color: #526484;
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
        text-wrap: nowrap;

        &-info {
          font-size: 1rem;
        }
      }
    }

    & .dropdown-divider {
      margin: 0;
    }
  }
}

@keyframes grow-down {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes slide-down-menu {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
